.u-logo{
  float: left;
  display: block;
  width: 188px;
  height: 100%;
  background-size: auto 32px;
  text-indent: 110%;
  background: url("./logo-b.svg") no-repeat 0;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
}